<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <style>

        body{
            background-color: red;
        }
        h1{
            font-family: 'fira code';
            color: #ffe81c;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>
        Welcome to the Developer's Den
    </h1>
</body>
</html>