<!-- Including partials -->

<!-- Post Section -->
<link rel="stylesheet" href="/css/posts.css" />

<main>
  

  <section id="feed-post">
    <div class="post-form-heading">
      <h2>Welcome to Developer's Den</h2>
    </div>

    <!-- Post form Container-->

    <% if (locals.user) { %>
    <div class="post-form-container">
      <form action="/posts/create" method="post">
        <div class="form-group">
          <textarea
            name="content"
            id=""
            cols="90"
            rows="5"
            placeholder="Add a post..."
          ></textarea>
        </div>
        <div class="form-group">
          <button type="submit" value="Post" class="post-btn">Add Post</button>
        </div>
      </form>
    </div>
    <% } %>

    <!-- Posts -->
    <div id="posts-container">
      <ul class="post-list">
        <% for(post of posts){%> <%- include('_post') %> <% } %>
      </ul>
    </div>
  </section>

  <!-- Friends section -->
  <section id="users-followers">
    <div class="friends-container">
      <div class="following-heading">
        <h4>Following</h4>
      </div>
      <div class="following-users">
        <% for(user of allUsers) { %>
        <p class="user-name">
          <a href="/users/profile/<%= user.id %> "><%= user.name %> </a>
        </p>
        <% } %>
      </div>
    </div>
  </section>
</main>



