<link rel="stylesheet" href="/css/signUp.css">

<div class="container">
    <h1>LogIn</h1>
    <form action="/users/createSession" method="POST" class="signUp">

        <!-- <label for="email">Username </label> -->
        <input type="email" name="email" id="email" required placeholder="Email">
        <!-- <label for="password">Password </label> -->
        <input type="password" name="password" id="password" required placeholder="Password">
        <button type="submit">Log In</button>
    </form>
</div>

<div class="container   " >
    <button> <a href="/users/auth/google">Google SignIn\SignUp</a></button>
</div>