.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header-brand {
  flex-grow: 1;
  width: 70%;
  /* border: 2px solid red; */
}

.header-brand > h2 > a {
  color: #272343;
  font-size: 1.5rem;
  padding-left: 100px;
  text-decoration: none;
}

.nav {
  flex-grow: 1;
  width: 20%;
}

.nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .nav-item a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #272343;
}

.nav-item .username {
  text-transform: capitalize;
}
